.authorization {
    padding: 20px;
}

.authorizationLink {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.authorizationBtnBlock {
    flex: 1 1 50%;
}


.authorizationBtn {
    border: none;
    background: transparent;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 22px;
    color: #ccc;
    transition: all .3s ease;
}

.authorizationBtn:hover {
    color: black;
}

.active {
    background: rgb(196,184,204);
    background: linear-gradient(180deg, rgba(196,184,204,1) 0%, rgba(239,241,234,1) 0%, rgba(11,11,11,1) 100%);
    color: #fff;
}